.Book-logo {
  max-width: 200px;
  display: block;
  margin: 0 auto;
}

header {
  font-family: Crimson Text, serif;
  font-size: 60px;
  text-align: center;
}

footer {
  font-family: Crimson Text, serif;
}
